<div>
    
    <img src="https://wilcity.com/wp-content/uploads/2018/12/sample-logo-design-png-3-2.png" alt="LOREMIPSUM">
    
    <div>
        <a href="/">Home</a>
    </div>
    
    <div>
        <a href="/lawyers">Lawyers</a>
    </div>

    <div>
        <a href="/expertise">Specialties</a>
    </div>

</div>